html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;	
}

@media (max-width: 800px){
    .header {
        flex-direction: column-reverse;
        align-items: center;
        width: 700px;
    }
    .logoSection {
        display: flex;
        justify-content: center;
        width: 700px;
    }
}


.topThird {
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.nav {
	color: gray;
	font-size: 14px;
	display: flex;
	justify-content: space-around;
	width: 700px;
	padding-bottom: 50px;	

}
@media (max-width: 500px){
    .nav {
        flex-direction: column; 
        align-items: center;  
    }
    .nav a {
        height: 30px;
        font-size: 16px;
        border-bottom: 1px solid black;
        width: 500px;
        text-align: center;
        padding-top: 8px;
    }
    #services {
        border-top: 1px solid black;
    }

}

.logoSection {
    padding-top: 30px;
    padding-bottom: 30px;
}



.leftJumbo {
	
	height: 400px;
	text-align: center;
	font-size: 70px;	
}

.rightJumbo {	
	height: 400px;	
}

.jumbo {
	height: 500px;
	width: 900px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid black;
}

@media (max-width:800px){
    .rightJumbo {
        display: none;
    }
}

@media (max-width: 500px){
    .jumbo {
        height: 400px;
    }
}
	
button {
	height: 20px;
	width: 180px;
	font-size: 14px;	
}

h2 {
	height: 250px;
	padding-top: 50px;
	text-align: center;
}	

.main {
	display: flex;
	flex-direction: column;
    border-bottom: 1px solid black;
    height: auto;
}

@media (max-width: 800px){
    .main {
        width: 700px;
        margin: 0 auto;
    }
    footer {
        width: 700px;
        margin: 0 auto;
    }
}
@media (max-width: 500px){
    .main {
        height: auto;
    }
}



.top {
	height: 200px;
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 50px;	
}

@media (max-width: 500px){
  
    .top {
        flex-direction: column;
        height: auto;
    }

    .mid {
        height: auto;
    }

    .bottom {
        flex-direction: column;
        padding-bottom: 20px;
    }
    .b1, .b2, .b3 {
        padding-bottom: 20px;
    }
}

.mid {
	height: 260px;
	padding-bottom: 60px;	
}

.bottom {
	height: auto;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.topLeft {
	height: 170px;
	width: 380px;
}

.topRight {
	height: 170px;
	vertical-align: top;
	width: 380px;

}

.b1, .b2, .b3 {
	width: 280px;

}

address {
	display: flex;
	flex-direction: column;
	width: 880px;
	padding-top: 50px;
}

.top-serv {
	display: flex;
    flex-direction: column;
}

.header-serv {
	display: flex;

}
.main-serv {
	display:flex;
	width: 900px;

	justify-content: space-evenly;
	height: 1000px;
	padding-top: 50px;
	padding-bottom: 50px;

}

@media (max-width: 800px){
    .main-serv {
        width: 800px;
    }
}

.copyright {
	text-align: center;
}

.services {
    width: 900px;
    margin-top: 20px;

}
@media (max-width: 800px){
    .services {
        width: 800px;
    }

.box {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: space-evenly;
	width: 370px;
	height: 200px;
	padding: 20px;
	
}
.outer {
	width: 400px;
	height: 250px;
	background-color: gainsboro;
	border: 1px solid black;
}

.first-col ,.second-col {
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.bottom-serv {
	border-top: 2px solid black;
	width: 1000px;
	display: flex;
	justify-content: space-between;
	padding-top: 50px;

}
@media (max-width: 800px){
    .bottom-serv {
        width: 800px;
    }

.text {
	width: 450px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

